.cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}


.card-product {
color: black;
box-shadow: 2px 2px 2px 2px lightgrey;
}

.card-product img {
  height: 100px;
  width: 100px
}
